# Node.js dependencies
node_modules/

# Gatsby's build cache
.cache/

# Gatsby's public directory (optional, if you don’t want to commit it before deployment)
public/

# Environment variables
.env

# Logs and temporary files
*.log
