body {
	background-color: #5E0921;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Aspira Thin', serif;
	font-size: 175px;
	cursor: default;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("images/Apply/apply.jpg");
    background-position: top;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
	background-color: white;
    outline: 1px solid white;
}
 
body::-webkit-scrollbar-thumb {
	background-color: gray;
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@font-face {
	src: url('fonts/Aspira.ttf');
	font-family: Aspira;
}

@font-face {
	src: url('fonts/Aspira Thin.ttf');
	font-family: Aspira Thin;
}

@font-face {
	src: url('fonts/Aspira Bold.ttf');
	font-family: Aspira Bold;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
    text-decoration: none;
    color: white;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#homeButton:hover {
	cursor: pointer;
}

#mobileLogo {
    box-shadow: border-box;
	display: none;
	margin-top: 24px;
	margin-right: 20px;
	width: 300px;
    height: 100px;
	float: right;
}

.button {
	transition: opacity 0.4s;
}

.button:hover {
	opacity: 0.5;
}

#banner {
	font-family: Aspira;
	height: 100vh;
}

#nav {
    height: 66px;
	opacity: 1;
	z-index: 100;
	position: fixed;
	background-color: white;
	width: 100%;
	text-align: center;
	float: right;
	font-size: 20px;
	color: black;
}

#nav img {
	float: right;
	padding-top: 13px;
	padding-right: 30px;
}

#nav ul {
    padding-top: 19px;
	list-style-type: none;
	float: left;
}

#nav ul li {
	display: inline;
	padding: 7px 10px;
	margin: 0px 5px;
	transition: 0.3s;
}

#nav ul li:hover {
	color: white;
	background-color: black;
	opacity: 0.4;
	cursor: pointer;
}

#logo {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 15px;
	color: white;
	position: absolute;
	top: 40px;
	left: 40px;
	width: 30px;
	height: 30px;
	float: left;
	font-size: 15%;
}

#introLine {
	font-size: 70%;
	text-align: center;
	color: #eaeaea;
	text-shadow: 3px 3px 8px black;
	animation-name: fadeIn;
	animation-duration: 1s;
}

#introLine img {
	border-radius: 50%;
	width: 250px;
}

#marquee {
	font-size: 50%;
}

#menuButton {
	display: none;
	position: absolute;
	top: 15px;
	right: 20px;
	float: right;
	font-size: 15%;
}

#menuButton img {
	width: 45px;
	height: 45px;
}

#content {
	background-color: #5E0921;
	background-size: cover;
	text-align: left;
	padding-bottom: 50px;
}

.sectionHeader {
	color: #5E0921;
	background-color: white;
	width: 125%;
	transform: translateX(-10%);
	margin: 50px 0;
	padding: 45px 0;
	text-align: center;
	font-size: 35px;
}

.sectionDiv {
    text-align: center;
	width: 80%;
	margin: auto;
	font-size: 12%;
	color: white;
}

.nav-up {
	/*top: -66px;*/
}

#makersLogoMobile {
    display: none;
}

#groupPic {
    display: none;
}

#hamburgerMenu {
    display: none;
}

.mobileMenu {
    display: none;
}

.mobileTitle {
    display: none;
}
footer {
	font-size: 15px;
	background: white;
	color: #910b3a;
    height: 70px;
    margin: auto;
    bottom: 0;
    width: 100%;
    display: table;
}
.footerContent {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#makersCopyright {
    font-size: 18px;
    height: 50px;
}
.footerLogo {
    height: 30px;
    margin: 10px;
}

#socialMediaLogos {
    margin-left: 30px;
}

#appInfo {
    font-size: 150%;
}

#appLink:hover {
    color: #910b3a;
}

#appDeadline {
    font-size: 70%;
}
iframe {
    width: 560px;
    height: 315px;
    margin-top: 50px;
}

.eventName {
    font-size: 30px;
    color: #888;
    text-align: center;    
}

div.details {
    color: #fff;
    width: 100%;
}

.events {
    text-align: center;
}

.event {
    margin-top: 30px;
}

@media screen and (max-width: 800px) {
    body {
		background-color: #5e0921;
	}
	#content {
		text-align: center;
	}
	#backgroundVideo {
		display: none;
	}
	.sectionHeader {
		margin-top: 0;
        padding: 30px;
	}
	#banner {
		height: 50px;
        background-color: #000;
        top: 0px;
	}
    #mobileBanner {
        position: fixed;
        background-color: #FFF;
        height: 50px;
        width: 100vw;
        z-index: 700;
    }
	#mobileLogo {
		display: inline;
        float: right;
        height: 27px;
        width: 80px;
        margin-top: 11px;
        margin-left: 11px;
        margin-bottom: 11px;
        margin-right: 6px;
        right: 6px;
        z-index: 900;
        position: fixed;
	}
	#logo {
		position: absolute;
		top: 40px;
		left: 40px;
		width: 20px;
		height: 20px;
		float: left;
		font-size: 15%;
	}
	#nav {
		display: none;
	}
	#menuButton {
		display: block;
	}
	#about img {
		width: 80%;
		float: none;
		padding: 0;
		margin: 0 10%;
		margin-bottom: 30px;
	}
	#introLine {
		display: none;
	}
	.sectionHeader {
		padding: 30px 0px;
        
	}
	#firstSectionHeader {
        margin-top: 300px;
        z-index: 100;
	}
	#eboard img {
		width: 125px;
	}
	#nametag {
		font-size: 15px;
		width: 100px;
		padding: 2px;
		right: 20%;
	}
	#hiddenSpaces {
		display: block;
	}
	#footerText {
		display: none;
	}
    #groupPic {
        display: block;
        height: auto;
        /* Change group pic here */
        background-image: url("images/Apply/mobile_apply.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        position: absolute;
        top: 50px;
        min-width: 100vw;
        height: 300px;
        text-align: center;
        vertical-align: center;
        z-index: -200;
    }
    #opaqueLayer {
        position: absolute;
        top: 50px;
        min-width: 100vw;
        height: 300px;
        background-color: #000;
        z-index: 1;
        opacity: 0.20;
    }
    #makersLogoMobile {
        display: inline-block;
        position: relative;
        z-index: 300;
        width: 70vw;
        top: 100px;
        text-align: center;
        text-shadow: 3px 3px 8px black;
        animation-name: fadeIn;
        animation-duration: 1s;
        
    }
    iframe {
        text-align: center;
        max-width: 75vw;
        height: 42vw;
        overflow: hidden;
    }
    #hamburgerMenu {
        display: block;
        position: absolute;
        height: 20px;
        top: 13px;
        left: 20px;
        position: fixed;
    }
    #hamburgerMenu:hover {
        cursor: pointer;
    }
    .mobileTitle {
        display: inline-block;
        position: relative;
        z-index: 300;
        top: 60px;
        text-align: center;
        color: #eaeaea;
        text-shadow: 3px 3px 8px black;
        animation-name: fadeIn;
        animation-duration: 1s;
        font-size: 30%;
    }
    div.mobileMenu {
        position: absolute;
        top: 50px;
        display: none;
        z-index: 500;
        height: 240px;
        width: 150px;
        background-color: #444;
        opacity: 0.95;
        text-align: center;
        position: fixed;
        box-shadow: 5px 5px 9px #111;
    }
    ul.mobileMenu {
        display: none;
        position: absolute;
        top: 0px;
        text-align: left;
        padding-left: 15px;
        color: #FFF;
        z-index: 600;
        list-style: none;
        width: 100vw;
        position: fixed;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 65px;
    }
    li.mobileMenu {
        display: none;
        font-size: 20px;
        top: 0px;
        color: #FFF;
        opacity: 1;
        margin-bottom: 10px;
    }
}







