body {
	background-color: #5E0921;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Aspira Thin', serif;
	font-size: 175px;
	cursor: default;
}

body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
	background-color: white;
    outline: 1px solid white;
}
 
body::-webkit-scrollbar-thumb {
	background-color: gray;
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@font-face {
	src: url('fonts/Aspira.ttf');
	font-family: Aspira;
}

@font-face {
	src: url('fonts/Aspira Thin.ttf');
	font-family: Aspira Thin;
}

@font-face {
	src: url('fonts/Aspira Bold.ttf');
	font-family: Aspira Bold;
}

a {
	text-decoration: none;
	color: inherit;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#backgroundVideo {
	position: fixed;
	z-index: -100;
    min-width: 100vw;
    min-height: 100vh;
}

#homeButton:hover {
	cursor: pointer;
}

#mobileLogo {
	display: none;
	padding-top: 24px;
	padding-right: 20px;
	width: 150px;
	float: right;
}

.button {
	transition: opacity 0.4s;
}

.button:hover {
	opacity: 0.5;
}

#banner {
	font-family: Aspira;
	height: 100vh;
}

#nav {
    height: 66px;
	opacity: 1;
	z-index: 100;
	position: fixed;
	background-color: white;
	width: 100%;
	text-align: center;
	float: right;
	font-size: 20px;
	color: black;
}

#nav img {
	float: right;
	padding-top: 13px;
	padding-right: 30px;
}

#nav ul {
	list-style-type: none;
	float: left;
}

#nav ul li {
	display: inline;
	padding: 7px 10px;
	margin: 0px 5px;
	transition: 0.3s;
}

#nav ul li:hover {
	color: white;
	background-color: black;
	opacity: 0.4;
	cursor: pointer;
}

#logo {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 15px;
	color: white;
	position: absolute;
	top: 40px;
	left: 40px;
	width: 30px;
	height: 30px;
	float: left;
	font-size: 15%;
}

#introLine {
	font-size: 70%;
	text-align: center;
	color: #eaeaea;
	text-shadow: 3px 3px 8px black;
	animation-name: fadeIn;
	animation-duration: 1s;
}

#hiddenSpaces {
	display: none;
}

#introLine img {
	border-radius: 50%;
	width: 250px;
}

#marquee {
	font-size: 50%;
}

#menuButton {
	display: none;
	position: absolute;
	top: 15px;
	right: 20px;
	float: right;
	font-size: 15%;
}

#menuButton img {
	width: 45px;
	height: 45px;
}

#imageWrapper {
	position: relative;
	width: 240px;
	display: inline;
	background-color: #5E0921;
}

footer {
	font-size: 15px;
	padding: 5px;
	background: white;
	color: #5E0921;
}

.nav-up {
	/*top: -66px;*/
}

#eventsPic {
    display: none;
}

iframe {
    width: 560px;
    height: 315px;
}

#hamburgerMenu {
    display: none;
}

.mobileMenu {
    display: none;
}

.mobileTitle {
    display: none;
}
@media screen and (max-width: 800px) {
	body {
		background-color: #000;
	}
	#content {
		text-align: center;
	}
	#backgroundVideo {
		display: none;
	}
	.sectionHeader {
		margin-top: 0;
	}
	#banner {
		height: 50px;
	}
    #mobileBanner {
        position: fixed;
        background-color: #000;
        height: 50px;
        width: 100vw;
        z-index: 700;
    }
	#mobileLogo {
		display: inline;
        float: right;
        height: 27px;
        width: 80px;
        margin-top: 11px;
        padding-top: 0px;
        margin-left: 11px;
        margin-bottom: 11px;
        margin-right: 6px;
        right: 0px;
        z-index: 900;
        position: absolute;
	}
	#logo {
		position: absolute;
		top: 40px;
		left: 40px;
		width: 20px;
		height: 20px;
		float: left;
		font-size: 15%;
	}
	#nav {
		display: none;
	}
	#menuButton {
		display: block;
	}
	#about img {
		width: 80%;
		float: none;
		padding: 0;
		margin: 0 10%;
		margin-bottom: 30px;
	}
	#introLine {
		display: none;
	}
	.sectionBox {
		padding: 30px 0;
	}
	#firstSectionHeader {
		margin-top: 100vh;
        z-index: 100;
	}
	#hiddenSpaces {
		display: block;
	}
	#footerText {
		display: none;
	}
    #eventsPic {
        display: block;
        height: auto;
        background-image: url("images/Events/Seminars/phasefour1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        position: absolute;
        top: 50px;
        min-width: 98vw;
        height: 100vh;
        text-align: center;
        vertical-align: center;
        z-index: -200;
    }
    #opaqueLayer {
        position: absolute;
        top: 50px;
        min-width: 98vw;
        height: 100vh;
        background-color: #000;
        z-index: 1;
        opacity: 0.50;
    }
    #makersLogoMobile {
        display: inline-block;
        position: relative;
        z-index: 300;
        width:90vw;
        top: 100px;
        text-align: center;
        
    }
    iframe {
        text-align: center;
        max-width: 75vw;
        height: 42vw;
        overflow: hidden;
    }
    #hamburgerMenu {
        display: block;
        position: absolute;
        height: 20px;
        top: 13px;
        left: 20px;
        position: fixed;
    }
    #hamburgerMenu:hover {
        cursor: pointer;
    }
    div.mobileMenu {
        position: absolute;
        top: 50px;
        display: none;
        z-index: 500;
        height: 200px;
        width: 150px;
        background-color: #444;
        opacity: 0.95;
        text-align: center;
        position: fixed;
        box-shadow: 5px 5px 9px #111;
    }
    ul.mobileMenu {
        display: none;
        position: absolute;
        top: 0px;
        text-align: left;
        padding-left: 15px;
        color: #FFF;
        z-index: 600;
        list-style: none;
        width: 98vw;
        position: fixed;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 65px;
    }
    li.mobileMenu {
        display: none;
        font-size: 20px;
        top: 0px;
        color: #FFF;
        opacity: 1;
        margin-bottom: 10px;
/*        position: fixed;*/
    }
    .mobileTitle {
        display: inline-block;
        position: relative;
        z-index: 300;
        top: 10vh;
        text-align: center;
        color: #eaeaea;
        text-shadow: 3px 3px 8px black;
        animation-name: fadeIn;
        animation-duration: 1s;
        font-size: 30%;
    }
    .eventDescription {
        padding-left: 10px;
        padding-right: 10px;
        
    }
}

.sectionBox {
    background-color: #5E0921;
	background-size: cover;
	text-align: center;
	padding-bottom: 50px;
    padding-top: 50px;
    top: 0px;
}
.eventBox {
    background-color: #5E0921;
    background-size: cover;
    padding-bottom: 0px;
    padding-top: 0px;
}

.eventDescription {
    color: #5E0921;
	background-color: white;
	margin: 0px 0px;
	padding: 10px 0;
	text-align: center;
	font-size: 35px;
}

.notFirstSectionHeader {
    margin-bottom: 50px;
}

.eventName {
    color: #5E0921;
    font-size: 35px;
}

.eventDate {
    color: #777;
    font-size: 30px;
    font-family: "Aspira Thin";
    margin-top: 0px;
    margin-bottom: 50px;
}

.eventsImage {
    width: 300px;
    margin: -13px -10px;
}

.eventImageBox {
    margin: 0px 50;
}