body {
	background-color: #5E0921;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Aspira Thin', serif;
	cursor: default;
/*
    height: 100vh;
    width: 100vw;
*/
}

body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
	background-color: white;
    outline: 1px solid white;
}
 
body::-webkit-scrollbar-thumb {
	background-color: gray;
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@font-face {
	src: url('fonts/Aspira.ttf');
	font-family: Aspira;
}

@font-face {
	src: url('fonts/Aspira Thin.ttf');
	font-family: Aspira Thin;
}

@font-face {
	src: url('fonts/Aspira Bold.ttf');
	font-family: Aspira Bold;
}

a {
	text-decoration: none;
	color: inherit;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#homeButton:hover {
	cursor: pointer;
}

#mobileLogo {
	display: none;
	padding-top: 24px;
	padding-right: 20px;
	width: 150px;
	float: right;
}

.button {
	transition: opacity 0.4s;
}

.button:hover {
	opacity: 0.5;
}

#banner {
	font-family: Aspira;
	height: 100vh;
}

#nav {
    height: 66px;
	opacity: 1;
	z-index: 100;
	position: fixed;
	background-color: white;
	width: 100%;
	text-align: center;
	float: right;
	font-size: 20px;
	color: black;
}

#nav img {
	float: right;
	padding-top: 13px;
	padding-right: 30px;
}

#nav ul {
	list-style-type: none;
	float: left;
}

#nav ul li {
	display: inline;
	padding: 7px 10px;
	margin: 0px 5px;
	transition: 0.3s;
}

#nav ul li:hover {
	color: white;
	background-color: black;
	opacity: 0.4;
	cursor: pointer;
}

#menuButton {
	display: none;
	position: absolute;
	top: 15px;
	right: 20px;
	float: right;
	font-size: 15%;
}

#menuButton img {
	width: 45px;
	height: 45px;
}

footer {
	font-size: 15px;
	background: white;
	color: #910b3a;
    height: 70px;
    position: fixed;
    margin: auto;
    bottom: 0;
    width: 100%;
    display: table;
}
.footerContent {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.nav-up {
	top: -66px;
}

#makersLogoMobile {
    display: none;
}

#hamburgerMenu {
    display: none;
}

.mobileMenu {
    display: none;
}
#makersCopyright {
    font-size: 18px;
    height: 50px;
}
.footerLogo {
    height: 30px;
    margin: 10px;
}

#socialMediaLogos {
    margin-left: 30px;
}

#info {
    padding: 50px 20px;
    background-color: #FFF;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    text-align: center;
    z-index: 100;
    box-shadow: 10px 10px 9px #222;
}
body {
    font-family: 'Aspira Thin', sans-serif;
    background-color: #5e0921;
    z-index: -100;
}

form {
    margin: auto;
    text-align: center;
}

#logo {
    width: 250px;
/*    margin-bottom: 20px;*/
}

#memberLogin {
    color: #000;
    font-size: 48px;
    font-family: sans-serif;
    margin: 15px;
}

.passInput {
    width: 300px;
    height: 40px;
    background-color: #DDD;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.passInput:onclick {
    color: #000;
}

::placeholder {
    color: #777;
}

#loginClickButton {
    width: 320px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    background: #910b3a;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    font-family: sans-serif;
}

#loginClickButton:hover {
    cursor: pointer;
    background: #5e0921;
}

#wrongInfo {
    color: red;
    display: none;
    margin-top: 5px;
}
#makersMobileLogo {
    display:none;
}

#lockIcon {
    height: 100px;
    margin-bottom: 20px;
}
#loginText {
    margin: 15px;
    font-size: 36px;
}
@media screen and (max-width: 800px) {
    #makersMobileLogo {
        display: inline;
/*        float: right;*/
        height: 30px;
        margin-top: 11px;
        padding-top: 0px;
        margin-left: 11px;
        margin-bottom: 11px;
        right: 120px;
        position: absolute;
    }
    body {
		background-color: #5e0921;
	}
	#banner {
		height: 50px;
        background-color: #FFF;
        top: 0px;
	}
    #mobileBanner {
        position: fixed;
        background-color: #FFF;
        height: 50px;
        width: 100vw;
        z-index: 700;
    }
	#mobileLogo {
		display: inline;
        float: right;
        height: 27px;
        width: 80px;
        margin-top: 11px;
        padding-top: 0px;
        margin-left: 11px;
        margin-bottom: 11px;
        margin-right: 6px;
        right: 0px;
        z-index: 900;
        position: absolute;
	}
	#nav {
		display: none;
	}
	#menuButton {
		display: block;
	}

	#footerText {
		display: none;
	}
    #makersLogoMobile {
        display: inline-block;
        position: relative;
        z-index: 300;
        width: 70vw;
        top: 100px;
        text-align: center;
        text-shadow: 3px 3px 8px black;
        animation-name: fadeIn;
        animation-duration: 1s;
        
    }
    #hamburgerMenu {
        display: block;
        position: absolute;
        height: 20px;
        top: 13px;
        left: 20px;
        position: fixed;
    }
    #hamburgerMenu:hover {
        cursor: pointer;
    }
    div.mobileMenu {
        position: absolute;
        top: 50px;
        display: none;
        z-index: 500;
        height: 225px;
        width: 150px;
        background-color: #444;
        opacity: 0.95;
        text-align: center;
        position: fixed;
        box-shadow: 5px 5px 9px #111;
    }
    ul.mobileMenu {
        display: none;
        position: absolute;
        top: 0px;
        text-align: left;
        padding-left: 15px;
        color: #FFF;
        z-index: 600;
        list-style: none;
        width: 100vw;
        position: fixed;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 65px;
    }
    li.mobileMenu {
        display: none;
        font-size: 20px;
        top: 0px;
        color: #FFF;
        opacity: 1;
        margin-bottom: 10px;
/*        position: fixed;*/
    }
    #info {
        padding: 20px 20px;
        width: 300px;
        height: 270px;
    }
    .passInput {
        width: 280px;
    }
    #logo {
        width: 280px;
    }
    #loginClickButton {
        width: 300px;
    }
    #lockIcon {
        height: 75px;
    }
}

