@font-face {
  font-family: "Garet";
  src: url("../../public/fonts/Garet/Garet-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Garet";
  src: url("../../public/fonts/Garet/Garet-Heavy.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Garet", sans-serif;
}

.who-we-are button {
  display: block;
  margin: 20px auto 0;
  background-color: #622830;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
}

.carousel-main {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.carousel-container {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  padding-top: 0;
}

@media (max-width: 968px) {
  .carousel-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
  }
}

.centered-line {
  width: 100%;
  margin-top: 20px;
  border: 2px solid #622830;
}
