.header {
    display: flex;
    align-items: center;
    background-color: #622830;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 70px;
}

.header-image {
    max-width: 25%;
    height: auto;
    display: block;

}

.header-image-mobile {
    display: none;
}

@media (max-width: 768px) {
    .header-image {
        display: none;
    }

    .header-image-mobile {
        display: block;
        width: 100%;
        max-width: 40px;
        min-width: 25px;
        height: auto;
    }
}

.header > div:first-child {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    margin-top: 10px;
}

.header > div:last-child {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
}

.header-links {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
}

.nav-container {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.nav-links {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
}

.nav-links:hover {
    color: #CCCCCC;
  }

@media (max-width: 768px) {
    .header {
        height: 60px;
    }

    .header > div:first-child {
        font-size: 16px;
        padding: 0 20px;
    }

    .header > div:last-child {
        padding: 0 20px;
    }

    .nav-links {
        font-size: 16px;
    }
}
  
