.people-container {
  padding: 0rem 12px;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin-bottom: 2rem;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 0 120px;
  max-width: 100%;
  text-decoration: none;
}

.title {
  font-size: 3rem !important;
  color: #622830 !important;
  margin-bottom: 2rem;
}

.team-card {
  background: #8d404c;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  width: 200px;
}

.team-card a {
  text-decoration: none;
  color: #fff;
}

.team-link {
  text-decoration: none;
  color: #fff;
}

.team-card:hover {
  transform: scale(1.05);
}

.team-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  display: block;
}

.team-name {
  min-height: 2.8rem;
  margin: 0.8rem 0 0;
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: normal;
  color: #fff;
}

.team-position {
  min-height: 2.6rem;
  margin: 0.0rem 0 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  line-height: 1.2;
  color: #f8dbdf;
}

/* Media Queries for Mobile */
@media (max-width: 932px) {
  .title {
    font-size: 2rem !important;
  }

  .team-name {
    font-size: 1rem;
  }

  .team-position {
    font-size: 0.7rem;
  }

  .team-container {
    padding: 0 10px !important;
    gap: 10px;
    max-width: calc(175% - 240px);
  }

  .team-card {
    padding: 0.5rem !important;
    max-width: 125px;
    height: 250px;
  }

  .team-image {
    margin-bottom: 0;
  }
}
